@page
@model ResultModel
<!DOCTYPE html>
<html>
<head>
    <title>Simple Interest Result</title>
</head>
<body>
    <h1>Simple Interest Result</h1>
    <p>Simple Interest: @Model.Interest</p>
</body>
</html>
